@charset "UTF-8";

#wrap{overflow-x: hidden;}

/* 공통 - 제목 */
.title{text-align: center;}
.title h3{ font-size: 42px; font-weight: 700; color: #0E0E0E; word-break: keep-all;}
.title h3 br{display: none;}
.title strong{background: linear-gradient(to right, #17D8E1, #657BFF);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

@media (max-width: 1024px){

  .title h3{font-size: 35px;}
  .title h3 br{display: block;}

  }

  @media (max-width: 576px){

   .title h3{font-size: 25px;}

  }

/* 비주얼 영역 */
#visualWrap{padding: 200px 0 100px; position: relative; overflow: hidden; z-index: 1;}
#visualWrap::after{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background-color: rgba(0, 132, 255, 0.35); z-index: -1;}
#visualWrap::before{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background: url(../images/main/main.svg)no-repeat center; background-size: cover; z-index: -1; transform: scale(1.5); transition: all 7s;}
#visualWrap.active::before{transform: scale(1);}
#visualWrap .titleBox{margin-bottom: 102px; text-align: center;}
#visualWrap .titleBox p{margin-bottom: 50px; text-align: center; color: #fff; font-size: 42px; font-weight: 700;}
#visualWrap .titleBox p br{display: none;}
#visualWrap .titleBox em{margin-bottom: 36px; display: block; color: #fff; font-weight: 600; font-size: 22px;}
#visualWrap .titleBox h2 img{display: block; margin: 0 auto;}
#visualWrap .infoList{display: flex; justify-content: center; gap: 0 80px;}
#visualWrap .infoList li{width: 320px; padding: 50px 20px; border-radius: 30px; background-color: #fff; text-align: center;}
#visualWrap .infoList li span{margin-bottom: 5px; display: flex; flex-direction: column; align-items: center; gap: 15px 0; font-size: 20px; font-weight: 600; text-align: center; color: #3461FF;}
#visualWrap .infoList li span::before{content: '';}
#visualWrap .infoList li:nth-child(1) span::before{width: 36px; height: 36px; background: url(../images/main/main_icon01.svg)no-repeat center; background-size: contain;}
#visualWrap .infoList li:nth-child(2) span::before{width: 34px; height: 36px; background: url(../images/main/main_icon02.svg)no-repeat center; background-size: contain;}
#visualWrap .infoList li:nth-child(3) span::before{width: 22px; height: 36px; background: url(../images/main/main_icon03.svg)no-repeat center; background-size: contain;}
#visualWrap .infoList li em{position: relative; display: inline-block; text-align: center; font-size: 36px; font-weight: 700; background: linear-gradient(to right, rgb(26, 214, 227), rgb(97, 128, 253)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; z-index: 1;}
#visualWrap .infoList li em::before{content: ''; position: absolute; left:0; bottom: 0; width: 0; height: 3px; background: linear-gradient(to right, rgb(26, 214, 227), rgb(97, 128, 253)); transition: all .6s; z-index: -1;}
#visualWrap .infoList li:hover em::before{width: 100%;}

@media (max-width: 1024px){

  #visualWrap{padding: 200px 0 168px;}
  #visualWrap .infoList{gap: 0 30px;}
  #visualWrap .titleBox{margin-bottom: 135px;}
  #visualWrap .titleBox p{margin-bottom: 80px; font-size: 35px;}
  #visualWrap .titleBox em{font-size: 18px;}
  #visualWrap .titleBox h2 img{width: 500px;}
  #visualWrap .infoList li span{gap: 7px 0; font-size: 16px;}
  #visualWrap .infoList li em{font-size: 23px;}
  #visualWrap .infoList li{width: auto; flex: 1; padding: 38px 20px; border-radius: 15px;}
  #visualWrap .infoList li:nth-child(1) span::before{width: 22px; height: 22px; }
  #visualWrap .infoList li:nth-child(2) span::before{width: 22px; height: 22px;}
  #visualWrap .infoList li:nth-child(3) span::before{width: 13px; height: 22px;}

}

@media (max-width: 576px){

  #visualWrap{padding: 170px 0 50px;}
  #visualWrap .titleBox{margin-bottom: 56px;}
  #visualWrap .titleBox p{margin-bottom: 38px; font-size: 25px;}
  #visualWrap .titleBox p br{display: block;}
  #visualWrap .titleBox em{margin-bottom: 15px; font-size: 14px;}
  #visualWrap .infoList{flex-direction: column; gap: 30px 0;}
  #visualWrap .titleBox h2 img{max-width: 300px; width: 100%;}

  #visualWrap .infoList li:nth-child(1) span::before{width: 40px; height: 40px; }
  #visualWrap .infoList li:nth-child(2) span::before{width: 37px; height: 40px;}
  #visualWrap .infoList li:nth-child(3) span::before{width: 25px; height: 40px;}

}

@media (max-width: 414px){

  #visualWrap .infoList li span::before{display: none;}
  #visualWrap .infoList li{position: relative; max-width: 280px; width: 100%; margin: 0 auto; padding: 28px 32px 28px 92px;}
  #visualWrap .infoList li::before{ content: ''; position: absolute; top: 50%; transform: translateY(-50%); left:0;}
  #visualWrap .infoList li:nth-child(1):before{width: 40px; height: 40px; left:32px; background: url(../images/main/main_icon01.svg)no-repeat center;}
  #visualWrap .infoList li:nth-child(2):before{width: 37px; height: 40px; left: 34px; background: url(../images/main/main_icon02.svg)no-repeat center;}
  #visualWrap .infoList li:nth-child(3):before{width: 25px; height: 40px; left: 40px; background: url(../images/main/main_icon03.svg)no-repeat center;}

}

/* 기업소개영역01 */
#introduceWrap01{padding: 120px 0; background-color: #F3F7FF;}
#introduceWrap01 .title{margin-bottom: 70px;}
#introduceWrap01 .infoBox{margin-bottom: 20px; display: flex; justify-content: center; gap: 0 26px;}
#introduceWrap01 .infoBox span{position: relative; padding: 9px 25px; font-size: 28px; font-weight: 700; color: #3461FF; background-color: #E2ECFF; border-radius: 50px;}
#introduceWrap01 .infoBox span::after{content: ''; position: absolute; top:26px; right:-18px; width: 10px; height: 10px; border-radius: 50%; background-color: #E2ECFF;}
#introduceWrap01 .infoBox span:last-child:after{display: none;}
#introduceWrap01 .productInfoBox{display: flex; align-items: center; gap: 0 110px; justify-content: center;}
#introduceWrap01 .productInfoBox .box{position: relative; padding-top: 40px; width: 225px; height: 225px; border-radius: 30px; background-color: #fff;}
#introduceWrap01 .productInfoBox .box span{gap: 25px 0; display: flex; flex-direction: column-reverse; align-items: center; text-align: center; font-size: 20px; color: #898989; font-weight: 700;}
#introduceWrap01 .productInfoBox .box:nth-child(1):after{width: 95px; height: 61px; content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:-93px; background: url(../images/main/arrow_icon01.svg)no-repeat center; }
#introduceWrap01 .productInfoBox .box:nth-child(3)::before{width: 95px; height: 61px; content: ''; position: absolute; top: 50%; transform: translateY(-50%) rotate(180deg); left:-93px; background: url(../images/main/arrow_icon01.svg)no-repeat center; }
#introduceWrap01 .productInfoBox .box:nth-child(1) span::before{width: 110px; height: 109px; content: ''; background: url(../images/main/product_icon01.svg) no-repeat center; background-size: contain!important;}
#introduceWrap01 .productInfoBox .box:nth-child(2) span::before{width: 285px; height: 285px; content: ''; background: url(../images/main/product_icon02.svg) no-repeat center; background-size: contain!important;}
#introduceWrap01 .productInfoBox .box:nth-child(3) span::before{width: 101px; height: 101px; content: ''; background: url(../images/main/product_icon03.svg) no-repeat center; background-size: contain!important;}
#introduceWrap01 .productInfoBox .box:nth-child(2){padding: 0; width: 450px; height: 450px;  border-radius: 60px;  border: 8px solid #E2ECFF;}
#introduceWrap01 .productInfoBox .box:nth-child(2) .box02{padding-top: 40px; width: 100%; height: 100%; border: 8px solid #BAD1FF; border-radius: 53px;}
#introduceWrap01 .productInfoBox .box:nth-child(2) span{color: #3461FF;}
#introduceWrap01 .mproductInfoBox{display: none;}

@media (max-width: 1024px){

  #introduceWrap01 .productInfoBox{display: none;}
  #introduceWrap01 .mproductInfoBox{display: flex; flex-wrap: wrap; gap: 112px 4%;}
  #introduceWrap01 .mproductInfoBox .box{padding-top: 40px!important; width: 48%!important; height: 250px!important; border-radius: 20px!important;}
  #introduceWrap01 .mproductInfoBox .box span{color: #898989!important;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(2){border: 0;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(2) span::before{width: 101px; height: 101px; background: url(../images/main/product_icon03.svg)no-repeat center;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(1):after{display: none;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3){margin: 0 auto;  padding-top: 0!important;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) span::before{width: 285px; height: 285px; content: ''; background: url(../images/main/product_icon02.svg);}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3){padding: 0; width: 450px!important; height: 450px!important;  border-radius: 60px!important;  border: 8px solid #E2ECFF;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) .box02{padding-top: 40px; width: 100%; height: 100%; border: 8px solid #BAD1FF; border-radius: 53px;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) span{color: #3461FF!important;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3)::before{ left: 50%; top:-89px; transform: translateX(-50%)rotate(90deg);}

}

@media (max-width: 767px){

  #introduceWrap01 .productInfoBox .box{padding-top: 15px!important; max-width: 250px; height: 150px!important;}
  #introduceWrap01 .productInfoBox .box span{gap: 12px 0;}
  #introduceWrap01 .productInfoBox .box:nth-child(1) span::before{width: 73px; height: 72px;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(2) span::before{width: 56px; height: 65px;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3){max-width: 350px!important; height: 350px!important;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) .box02{padding-top: 17px;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) span::before{width: 222px; height: 222px;}
  
}

@media (max-width: 576px){

  #introduceWrap01{padding: 95px 0;}
  #introduceWrap01 .infoBox{margin-bottom: 30px; gap: 0 21px;}
  #introduceWrap01 .infoBox span::after{width: 5px; height: 5px; top: 20px; right: -13px;}
  #introduceWrap01 .infoBox span{padding: 7px 18px; font-size: 20px;}
  #introduceWrap01 .mproductInfoBox{gap: 112px 6%;}
  #introduceWrap01 .productInfoBox .box{padding-top: 19px!important; max-width: none; width: 47%!important; height: 125px!important; border-radius: 15px!important;}
  #introduceWrap01 .productInfoBox .box span{font-size: 16px;}
  #introduceWrap01 .productInfoBox .box:nth-child(1) span::before{width: 49px; height: 48px;} 
  #introduceWrap01 .mproductInfoBox .box:nth-child(2) span::before{width: 44px; height: 44px;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3){width: 200px!important; height: 200px!important; border-radius: 30px!important;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) span::before{width: 125px; height: 125px;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3){border: 4px solid#E2ECFF;}
  #introduceWrap01 .mproductInfoBox .box:nth-child(3) .box02{padding-top: 15px; border: 4px solid#BAD1FF; border-radius: 26px;}
  
}

@media (max-width: 414px){

  #introduceWrap01 .productInfoBox .box{width: 130px!important;}
  #introduceWrap01 .infoBox{flex-direction: column; align-items: center; gap: 25px 0;}
  #introduceWrap01 .infoBox span::after{left: 50%; bottom: -15px; top: auto; right: auto; transform: translateX(-50%);}

}

@media (max-width: 360px){

  #introduceWrap01 .productInfoBox .box{width: 47%!important;}

}

/* 기업소개영역02 */
#introduceWrap02{padding: 120px 0 0;}
#introduceWrap02 .title{margin-bottom: 130px;}
#introduceWrap02 .imgBox{position: relative; margin-bottom: -6px; z-index: 9;}
#introduceWrap02 .imgBox img{display: block; width: 100%; margin: 0 auto;}
#introduceWrap02 .textBox{position: relative;  text-align: center;}
#introduceWrap02 .productText{position: relative; padding: 123px 0; text-align: center; font-size: 42px; color: #fff; z-index: 1; font-weight: 700;}
#introduceWrap02 .productText br{display: none;}
#introduceWrap02 .productText br:nth-child(1){display: block;}
#introduceWrap02 .productText span{padding: 8px 15px; background-color: #fff; color: #3461FF; border-radius: 10px;}
#introduceWrap02 .productText::after{content: ''; position: absolute; top:0; left:-100%; right: -100%; bottom: 0; z-index: -1; background-color: #3461FF;}

@media (max-width: 1024px){

  #introduceWrap02 .title{margin-bottom: 120px;}
  #introduceWrap02 .productText{padding: 101px 0; line-height: 2; font-size: 35px;}
  #introduceWrap02 .productText br{display: block!important;}

}

@media (max-width: 767px){

  #introduceWrap02 .imgBox img{max-width: 400px;}

}

@media (max-width: 576px){


  #introduceWrap02 .title{margin-bottom: 55px;}
  #introduceWrap02{padding: 90px 0 0;}
  #introduceWrap02 .imgBox{margin-bottom: -4px;}
  #introduceWrap02 .imgBox img{max-width: 300px;}
  #introduceWrap02 .productText{padding: 75px 0; font-size: 20px;}
  #introduceWrap02 .productText span{padding: 5px 8px; border-radius: 5px;}

}

/* 기업소개영역03 */
#introduceWrap03{padding: 120px 0;}
#introduceWrap03 .title{margin-bottom: 120px;}
#introduceWrap03 .newsList{display: flex; flex-wrap: wrap; gap: 19px 1.7%;}
#introduceWrap03 .newsList li{width: 32.2%; }
#introduceWrap03 .newsList li a{display: block; padding: 20px 30px; border: 1px solid #EAEAEA; border-radius: 20px; transition: all .3s;}
#introduceWrap03 .newsList li a:hover{border: 1px solid #568CF9;}
#introduceWrap03 .newsList li p{margin-bottom: 8px; font-size: 20px; color: #000;   display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;
  text-overflow: ellipsis;}
#introduceWrap03 .newsList li .date{display: block; margin-bottom: 15px; font-weight: 600; color: #949393;}
#introduceWrap03 .newsList li .logo{display: flex; justify-content: flex-end;}
#introduceWrap03 .newsList li .logo img{display: block;}

@media (max-width: 767px){

  #introduceWrap03 .newsList{gap: 19px 2.5%;}
  #introduceWrap03 .newsList li{width: 48.7%;}
  #introduceWrap03 .newsList li .date{margin-bottom: 24px;}

}

@media (max-width: 576px){

  #introduceWrap03{padding: 100px 0;}
  #introduceWrap03 .title{margin-bottom: 80px;}
  #introduceWrap03 .newsList{gap: 15px 0;}
  #introduceWrap03 .newsList li{ width: 100%;}
  #introduceWrap03 .newsList li a{padding: 13px 20px;  border-radius: 15px;}
  #introduceWrap03 .newsList li p{margin-bottom: 0; font-size: 16px;}
  #introduceWrap03 .newsList li .date{margin-bottom: 8px; font-size: 12px;}
  #introduceWrap03 .newsList li .logo img{width: 80px;}

}

/* 기업소개영역04 */
#introduceWrap04{padding: 120px 20px 190px calc(50% - 550px);; background-color: #F4F6FC;}
#introduceWrap04 .title{margin-bottom: 120px;}
#introduceWrap04 .title h3{text-align: left;}
#introduceWrap04 .title h3 br{display: block;}
#introduceWrap04 .title h3 br:nth-of-type(2){display: none;}
#introduceWrap04 .list{position: relative; display: flex; gap: 0 67px; z-index: 1;}
#introduceWrap04 .list::before{content: ''; height: 435px; position: absolute; top:88px; left:-186px; right: -100%; background-color: #3461FF; border-radius: 80px 0 0 80px; z-index: -1;}
#introduceWrap04 .list li{position: relative; padding: 30px 30px 0; width: 276px; height: 443px; background-color: #fff; border-radius: 20px; box-shadow: 0 0 30px rgba(1, 5, 93, 0.07); z-index: 1;} 
#introduceWrap04 .list li::after{content: ''; position: absolute; z-index: -1;}
#introduceWrap04 .list li:nth-child(1):after{width: 118px; height: 125px; right: 46px; bottom: 42px; background: url(../images/main/illustration01.svg)no-repeat center; background-size: contain;}
#introduceWrap04 .list li:nth-child(2):after{width: 145px; height: 129px; right: 33px; bottom: 41px; background: url(../images/main/illustration02.svg)no-repeat center; background-size: contain;}
#introduceWrap04 .list li:nth-child(3):after{width: 151px; height: 151px; right: 40px; bottom: 29px; background: url(../images/main/illustration03.svg)no-repeat center; background-size: contain;}
#introduceWrap04 .list li:nth-child(4):after{width: 154px; height: 133px; right: 39px; bottom: 49px; background: url(../images/main/illustration04.svg)no-repeat center; background-size: contain;}
#introduceWrap04 .list li .number{margin-bottom: 15px; display: block; width: 30px; height: 30px; border-radius: 50%; background-color: #3461FF; color: #fff; font-size: 20px; font-weight: 700; text-align: center;}
#introduceWrap04 .list li h4{min-height: 55px; font-size: 24px; color: #3461FF;}
#introduceWrap04 .list li p{font-size: 20px; font-weight: 600; color: #949393; line-height: 1.8;}
#introduceWrap04 .list li .text02{display: none;}
#introduceWrap04 .list li p strong{color: #000;}

@media (max-width: 1480px){

  #introduceWrap04 .list{gap: 0 30px;}

}

@media (max-width: 1199px){

  #introduceWrap04{padding: 120px 20px 190px;}

}

@media (max-width: 1024px){

  #introduceWrap04{position: relative;}
  #introduceWrap04 .title{margin-bottom: 75px;}
  #introduceWrap04 .title h3{text-align: center;}
  #introduceWrap04 .list{flex-direction: column; align-items: center; gap: 30px 0;}
  #introduceWrap04 .list li{width: 73%; padding: 24px 24px 15px; height: auto;}
  #introduceWrap04 .list li .text01{display: none;}
  #introduceWrap04 .list li p{line-height: 1.7;}
  #introduceWrap04 .list li h4{min-height: auto;}
  #introduceWrap04 .list li h4 br{display: none;}
  #introduceWrap04 .list li::after{top: 50%!important; transform: translateY(-50%)!important;}
  #introduceWrap04 .list::before{display: none;}
  #introduceWrap04::after{content: ''; position: absolute; top:333px; left: 40px; right: -100%; border-radius: 80px 0 0 80px; height: 360px; background-color: #3461FF;}
  #introduceWrap04::before{content: ''; position: absolute; left: -100%; bottom: 155px; right: 40px; border-radius: 0 80px 80px 0; height: 408px; background-color: #3461FF;}
  #introduceWrap04 .list li .number{width: 21px; height: 21px; font-size: 14px;}
  #introduceWrap04 .list li .text02{display: block;}
  
}

@media (max-width: 767px){

  #introduceWrap04{padding: 120px 20px;}
  #introduceWrap04 .list li{width: 66%;}
  #introduceWrap04 .list li .number{margin-bottom: 10px;}
  #introduceWrap04 .list li h4{font-size: 22px;}
  #introduceWrap04 .list li p{font-size: 18px;}
  #introduceWrap04::after{height: 262px;}
  #introduceWrap04::before{height: 381px; bottom: 184px;}
  #introduceWrap04 .list li:nth-child(1):after{width: 78px; height: 83px;}
  #introduceWrap04 .list li:nth-child(2):after{width: 96px; height: 85px;}
  #introduceWrap04 .list li:nth-child(3):after{width: 87px; height: 102px;}
  #introduceWrap04 .list li:nth-child(4):after{width: 108px; height: 93px;}
  
}

@media (max-width: 576px){

  #introduceWrap04{padding: 100px 20px;}
  #introduceWrap04::after{height: 230px;}
  #introduceWrap04 .list li{width: 75%; padding: 24px 141px 15px 24px; border-radius: 15px;}
  #introduceWrap04 .list li h4{font-size: 16px;}
  #introduceWrap04 .list li p{font-size: 14px;}
  #introduceWrap04 .title h3 br:nth-of-type(2){display: block;}
  #introduceWrap04 .list li p br,
  #introduceWrap04 .list li h4 br{display: block;}
  #introduceWrap04::before{height: 350px; bottom: 144px;}
  
}

@media (max-width: 414px){

  #introduceWrap04 .list li{width: 100%; padding: 24px 107px 15px 24px;}
  #introduceWrap04 .list li:nth-child(1):after{right: 37px; width: 58px; height: 63px;}
  #introduceWrap04 .list li:nth-child(2):after{right: 28px; width: 76px; height: 65px;}
  #introduceWrap04 .list li:nth-child(3):after{right: 28px; width: 67px; height: 82px;}
  #introduceWrap04 .list li:nth-child(4):after{right: 32px; width: 88px; height: 73px;}

}

/* 기업소개영역05 */
#introduceWrap05{padding: 120px 0;}
#introduceWrap05 .title{margin-bottom: 120px;}
#introduceWrap05 .list{position: relative;}
#introduceWrap05 .list::after{content: ''; width: 95px; height: 61px; position: absolute;
top: 50%; transform: translateY(-50%); right: -113px; background: url(../images/main/arrow_icon01.svg) no-repeat center;}
#introduceWrap05 .list li{padding-left: 29px; margin-bottom: 11px; width: 300px; height: 70px; display: flex; align-items: center; gap: 0 20px; border: 1px solid #EAEAEA; border-radius: 20px;}
#introduceWrap05 .list li:last-child{margin-bottom: 0;}
#introduceWrap05 .list li .number{width: 30px; height: 30px; line-height: 30px; background-color: #FFEBE2; text-align: center; color: #FF918B; font-weight: 700; font-size: 24px; border-radius: 50%;}
#introduceWrap05 .list li p{font-size: 24px; font-weight: 600; color: #232323;}
#introduceWrap05 .layoutBox{display: flex; align-items: center; justify-content: center; gap: 0 128px;}
#introduceWrap05 .imgBox img{display: block; max-width: 100%;}

@media (max-width: 767px){

  #introduceWrap05 .title{margin-bottom: 100px;}
  #introduceWrap05 .list{display: flex; flex-wrap: wrap; gap: 0 10px; width: 100%;}
  #introduceWrap05 .list li{gap: 0 18px; padding-left: 18px; width: 49%; height: 63px; border-radius: 18px;}
  #introduceWrap05 .list li p{font-size: 22px;}
  #introduceWrap05 .layoutBox{flex-direction: column; margin: 0 auto; gap: 71px 0; max-width: 550px; align-items: center;}
  #introduceWrap05 .list::after{bottom: -43px; width: 40px; height: 25px; right: auto; top: auto; left: 50%; transform: translateX(-50%) rotate(90deg); background-size: contain;}
  #introduceWrap05 .list li .number{width: 27px; height: 27px; line-height: 27px; font-size: 22px;}
  
}

@media (max-width: 576px){

  #introduceWrap05{padding: 100px 0 80px;}
  #introduceWrap05 .title{margin-bottom: 80px;}
  #introduceWrap05 .list{gap: 0 2%;}
  #introduceWrap05 .list li{gap: 0 14px; border-radius: 10px;}
  #introduceWrap05 .list li p{font-size: 18px;}
  #introduceWrap05 .list li .number{font-size: 18px;}

}

@media (max-width: 414px){

  #introduceWrap05 .list li{padding-left: 8px; width: 100%; height: 45px;}
  #introduceWrap05 .list::after{bottom: -50px;}
  #introduceWrap05 .layoutBox{max-width: 250px;}
  

}

/* 기업소개영역06 */
#introduceWrap06{padding: 99px 0; background: linear-gradient(to right, rgb(233, 248, 253), rgb(238, 242, 255));}
#introduceWrap06 .title br{display: block;}

@media (max-width: 576px){

  #introduceWrap06{padding: 73px 0;}
  #introduceWrap06 .title h3{font-size: 25px;}

}

/* 기업소개영역07 */
#introduceWrap07{padding: 120px 0; background-color: #3461FF;}
#introduceWrap07 P{font-size: 42px; color: #fff; font-weight: 700; text-align: center; word-break: keep-all;}
#introduceWrap07 P span{display: inline-block; padding: 10px 23px; border-radius: 50px;background-color: #fff; }
#introduceWrap07 P span em{background: linear-gradient(to right, #17D8E1, #657BFF);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
#introduceWrap07 .text02{display: none;}

@media (max-width: 767px){

  #introduceWrap07 .text01{display: none;}
  #introduceWrap07 .text02{display: block;}
  #introduceWrap07 P{font-size: 35px;}
  #introduceWrap07 P img{width: 154px;}
  #introduceWrap07 P span{margin-bottom: 20px;}

}

@media (max-width: 576px){

  #introduceWrap07{padding: 80px 0;}
  #introduceWrap07 P img{width: 104px;}
  #introduceWrap07 P{font-size: 25px;}

}

/* 기업소개영역08 */
#introduceWrap08{padding: 120px 0;}
#introduceWrap08 .container{max-width: 1560px;}
#introduceWrap08 .title{margin-bottom: 80px;}
#introduceWrap08 .list li{margin-bottom: 48px; position: relative; padding-left: 119px; font-size: 24px; font-weight: 700; color: #232323; letter-spacing: -1px;}
#introduceWrap08 .list li:last-child{margin-bottom: 0;}
#introduceWrap08 .list li::before{content: ''; width: 90px; height: 90px;position: absolute; top: -10px; left:0;}
#introduceWrap08 .list li:nth-child(1):before{ background: url(../images/main/icon01.svg)no-repeat center; background-size: contain;}
#introduceWrap08 .list li:nth-child(2)::before{background: url(../images/main/icon02.svg)no-repeat center; background-size: contain;}
#introduceWrap08 .list li:nth-child(3)::before{background: url(../images/main/icon03.svg)no-repeat center; background-size: contain;}
#introduceWrap08 .list li:nth-child(4)::before{background: url(../images/main/icon04.svg)no-repeat center; background-size: contain;}
#introduceWrap08 .list li span{color: #618DF2;}
#introduceWrap08 .layoutBox{display: flex; gap: 0 71px; align-items: center; justify-content: center;}
#introduceWrap08 .visionBox img{display: block; width: 100%;}
#introduceWrap08 .visionBox img.m{display: none;}

@media (max-width: 1024px){

  #introduceWrap08 .layoutBox{flex-direction: column; gap: 100px 0;}

}

@media (max-width: 767px) {
  
  #introduceWrap08 .introduceBox{padding: 0 54px;}
  #introduceWrap08 .title h3{text-align: left;}
  #introduceWrap08 .list{align-self: flex-start;}
  #introduceWrap08 .list li{margin-bottom: 40px; padding-left: 89px; font-size: 22px;}
  #introduceWrap08 .list li::before{top: -3px; width: 70px; height: 70px;}
  #introduceWrap08 .visionBox{align-self: flex-end;}
  #introduceWrap08 .visionBox img{max-width: 300px;}
  #introduceWrap08 .visionBox img.pc{display: none;}
  #introduceWrap08 .visionBox img.m{display: block;}

}

@media (max-width: 576px){

  #introduceWrap08{padding: 80px 0;}
  #introduceWrap08 .visionBox{margin: 0 auto;}
  #introduceWrap08 .title h3{text-align: center;}
  #introduceWrap08 .list li{margin-bottom: 35px; padding: 60px 0 0; text-align: center; font-size: 18px;}
  #introduceWrap08 .list li::before{top:0; left: 50%; transform: translateX(-50%); width: 50px; height: 50px;}

}
    
/* 기업소개영역09 */
#introduceWrap09{padding: 120px 0;}
#introduceWrap09 .title{margin-bottom: 120px;}
#introduceWrap09 .list{display: flex; justify-content: center; flex-wrap: wrap; gap: 10px 1%;}
#introduceWrap09 .list img{display: block; width: 100%;}
#introduceWrap09 .list img.m{display: none;}

@media (max-width: 1320px){

  #introduceWrap09 .list{gap: 25px 4%; padding: 0 225px;}

}

@media (max-width: 1199px){

  #introduceWrap09 .list{padding: 0 167px;}

}

@media (max-width: 1024px){

  #introduceWrap09 .list{padding: 0 150px; gap: 25px 2.2%;}
  #introduceWrap09 .list li{width: 48.9%;}
  #introduceWrap09 .list img.pc{display: none;}
  #introduceWrap09 .list img.m{display: block;}

}

@media (max-width: 767px){

  #introduceWrap09 .list{padding: 0 45px;}

}

@media (max-width: 576px){

  #introduceWrap09{padding: 80px 0;}
  #introduceWrap09 .list{padding: 0 36px;}
  #introduceWrap09 .title{margin-bottom: 80px;}

}

@media (max-width: 414px){

  #introduceWrap09 .list li{width: 100%;}

}





/* 오시는 길 영역 */
#mapWrap{padding: 90px 0 14px; background-color: #0A1231;}
#mapWrap .mapBox{padding-bottom: 97px; border-bottom: 2px solid #fff;}
#mapWrap h3{margin-bottom: 25px; text-align: center; color: #fff; font-size: 30px;}
#mapWrap address{margin-bottom: 30px; text-align: center; font-size: 18px; font-weight: 600; color: #fff;}
#mapWrap span{display: block; width: 159px; height: 64px; line-height: 64px; margin: 0 auto 43px; border-radius: 50px; background-color: #3461FF; text-align: center; color: #fff; font-size: 20px;}
#mapWrap .map{height: 443px; overflow: hidden; border-radius: 30px;}
#mapWrap .map iframe{width: 100%; height: 100%;}

@media (max-width: 767px){

  #mapWrap h3{font-size: 24px;}
  #mapWrap .mapBox{padding-bottom: 83px;}
  
}

@media (max-width: 576px){

  #mapWrap h3{font-size: 20px;}
  #mapWrap address{font-size: 14px;}
  #mapWrap span{width: 176px;}

}